<!-- Footer-->
<footer class="footer">
  <div class="container">
    <a href="/" class="logo">
      <svg class="icon icon--logo"><use xlink:href="assets/svg-sprite.svg#logo"></use></svg>
    </a>
    <div class="footer__content">
      <div class="footer__box">
        <a href="#" class="footer__link">О нас</a>
        <a href="#" class="footer__link">Словарь сайта</a>
        <a href="#" class="footer__link">Контакты</a>
      </div>
      <div class="footer__box">
        <a href="#" class="footer__link">Главная</a>
        <a href="#" class="footer__link">Звезды кино</a>
        <a href="#" class="footer__link">Мода</a>
        <a href="#" class="footer__link">Встречи со звездами</a>
        <a href="#" class="footer__link">Знакомься дружи</a>
      </div>
      <div class="footer__box">
        <a href="#" class="footer__link">Поддержка</a>
        <a href="#" class="footer__link">Social Media</a>
        <a href="#" class="footer__link">Privacy Policy</a>
        <a href="#" class="footer__link">Term of service</a>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>
