<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/" class="logo">
        <svg class="icon icon--logo"><use xlink:href="assets/svg-sprite.svg#logo"></use></svg>
      </a>
      <div class="header__actions">
        <a href="#" class="header__search">
          <svg class="icon icon--search"><use xlink:href="assets/svg-sprite.svg#search"></use></svg>
        </a>
        <a href="#" class="header__notice">
          <svg class="icon icon--notice"><use xlink:href="assets/svg-sprite.svg#notice"></use></svg>
          <span></span>
        </a>
        <a href="#" class="header__profile">
          <div class="header__profile-img">
            <img src="assets/images/profile.png" alt="profile-img" />
          </div>
          <span class="header__profile-name">Соболев А.А.</span>
          <svg class="icon icon--arrow"><use xlink:href="assets/svg-sprite.svg#arrow"></use></svg>
        </a>
      </div>
    </div>
  </div>
</header>
