.top-slider-prev
  display: flex
  align-items: center
  justify-content: center
  width: 87px
  height: 87px
  border-radius: 50%
  border: 1px solid $black
  background: transparent
  position: absolute
  top: 0
  left: 0
  z-index: 1
  user-select: none
  +xxl
    width: 76px
    height: 75px
  +sm
    width: 55px
    height: 55px
  +xsm
    width: 48px
    height: 48px

  .icon--top-arrow
    width: 22px
    height: 11px

.top-slider-next
  display: flex
  align-items: center
  justify-content: center
  width: 88px
  height: 87px
  border-radius: 50%
  border: 1px solid $black
  background: transparent
  position: absolute
  top: 0
  right: 0
  z-index: 1
  user-select: none
  +xxl
    width: 76px
    height: 75px
  +sm
    width: 55px
    height: 55px
  +xsm
    width: 48px
    height: 48px

  .icon--top-arrow
    width: 22px
    height: 11px
    fill: $black
    transform: rotate(180deg)

.default-orange
  font-weight: 400
  font-size: 20px
  color: $white
  border-radius: 5px
  border: none
  background: transparent
  position: relative
  z-index: 1
  padding: 12px 35px
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    background: $accent-grnt
    transition: all 0.3s ease
    z-index: -1
    border-radius: 5px
  &:hover
    color: darken($white, 10%)

.filter-btn
  font-weight: 400
  font-size: 20px
  line-height: 100%
  color: $black
  border-radius: 5px
  border: 1px solid $black
  background: transparent
  position: relative
  z-index: 1
  padding: 18px 24px
  border-radius: 5px
  +xxl
    padding: 12px 15px
  +xl
    padding: 10px 10px
    font-size: 18px
  +lg
    font-size: 18px
    padding: 11.5px 15px
  +md
    font-size: 14px
  +sm
    padding: 6px 10px
  +xsm
    font-size: 12px
    padding: 4px 5px
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    background: $accent-grnt
    transition: all 0.3s ease
    z-index: -1
    border-radius: 5px
    opacity: 0
    visibility: hidden
  &:hover
    +min_md
      border-color: transparent
      color: $white
      &::after
        opacity: 1
        visibility: visible
    +md
      color: $black

.filter-btn.active
  border-color: transparent
  color: $white
  &::after
    opacity: 1
    visibility: visible

.submit
  display: flex
  justify-content: center
  align-items: center
  padding: 12.5px 47px
  background: $accent-grnt
  border: none
  border-radius: 10px
  font-weight: 400
  font-size: 21px
  line-height: 120%
  color: $white
  column-gap: 21px
  height: fit-content
  transition: all 0.3s ease
  +xl
    padding: 10px 40px
  +lg
    font-size: 18px
    padding: 8px 25px
  +md
    padding: 10px 30px
    font-size: 18px
  +sm
    max-width: 229px
  .circle
    position: relative
    width: 34.15px
    height: 34.15px
    +border(50%, 1px, $white)
    transition: all 0.3s ease
    +lg
      width: 25px
      height: 25px
    .icon--submit
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 18px
      height: 14px
      fill: $white
      transition: all 0.3s ease
      +lg
        width: 12px
        height: 12px

.favourite-btn
  border: none
  background: transparent
  position: absolute
  bottom: 13px
  right: 11px
  z-index: 1
  +xsm
    bottom: 8px
    right: 9px
  span
    color: $accent-grnt
  .icon--star
    width: 29px
    height: 29px
    fill: $white
    +xsm
      width: 20px
      height: 20px

.favourite-btn
  &.fav-active
    .icon--star
      fill: #e54631 !important

.choose-btn
  display: inline-flex
  justify-content: center
  align-items: center
  column-gap: 35px
  background: $accent-grnt
  border: none
  border-radius: 12px
  padding: 21.5px 44px
  span
    font-weight: 700
    font-size: 20px
    color: $white
  .icon--choose-btn-arrow
    width: 52px
    height: 10px
    fill: $white

.to-basket
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  font-weight: 700
  font-size: 22px
  line-height: 24px
  color: $white
  background: $accent-grnt
  border: none
  border-radius: 10px
  margin: 0 auto
  padding: 26.5px 30px
  white-space: nowrap
  +md
    padding: 18px 30px

.white-btn
  display: inline-block
  white-space: nowrap
  font-weight: 700
  font-size: 20px
  background: $white
  border-radius: 12px
  padding: 25px 55px
  color: $black
  &:hover
    color: lighten($black, 15%)

.circled-btn
  display: inline-flex
  justify-content: center
  align-items: center
  width: 99px
  height: 99px
  border-radius: 50%
  border: 1px solid $black
  cursor: pointer
  user-select: none
  +xl
    width: 80px
    height: 80px
  +sm
    width: 70px
    height: 70px
  svg
    width: 54px
    height: 11px
    fill: $black
    +xl
      width: 40px

.accent-btn
  display: inline-block
  padding: 20px 45px

  font-weight: 700
  font-size: 18px
  line-height: 110%

  background: $accent-grnt
  color: $white
  border: none
  border-radius: 10px
  +lg
    padding: 20px 25px
    font-size: 16px
  +xsm
    padding: 15px 15px
    font-size: 15px

.theme-btn
  display: flex
  justify-content: center
  align-items: center

  position: relative
  z-index: 1

  font-weight: 700
  font-size: 18px
  line-height: 110%

  width: 60px
  height: 60px

  border-radius: 50%
  border: none
  background: $white

  transition: all 0.3s ease
  +xsm
    width: 50px
    height: 50px

  &::after
    content: ''

    position: absolute
    top: 50%
    left: 50%

    transform: translate(-50%, -50%)

    width: 100%
    height: 100%

    z-index: -1

    border-radius: 50%
    background: $accent-grnt

    opacity: 0
    visibility: hidden

    transition: all 0.3s ease

  &:hover
    color: $white

    &::after
      opacity: 1
      visibility: visible

.theme-btn.active
  color: $white

  &::after
    opacity: 1
    visibility: visible
