.sport-select .choices
  font-family: $deff
  width: 152px

.sport-select .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list
  overflow-y: auto

.sport-select .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item
  white-space: nowrap

.sport-select .choices__inner
  padding: 7.5px 7.5px
  border: 1px solid #000
  border-radius: 5px
  position: relative
  z-index: 1
  // transition: all 3s ease
  transit
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    z-index: -1
    transition: all 0.3s ease
    background: $accent-grnt
    opacity: 0
    visibility: hidden
  &:hover
    border: none
    padding: 8.5px 8.5px
    &::after
      opacity: 1
      visibility: visible

.sport-select .choices__list--single
  font-weight: 400
  font-size: 20px

.choices[data-type*=select-one]::after
  content: ''
  top: 45%
  width: 8px
  height: 8px
  border: 1px solid $black
  border-width: 0 0 1px 1px
  z-index: 1
  transform: rotate(-45deg)
  transition: all 0.3s ease

.choices[data-type*=select-one].is-open::after
  margin: 0
  border-color: $white
  transform: rotate(135deg)

.choices__placeholder
  opacity: 1

.choices__list--dropdown .choices__placeholder
  display: none
