.sport-select .choices
  font-family: $deff
  width: 152px

.sport-select .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list
  overflow-y: auto

.sport-select .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item
  white-space: nowrap

.sport-select .choices.is-open .choices__inner
  color: $white
  border: none
  padding: 8.5px 8.5px
  &::after
    opacity: 1
    visibility: visible

.sport-select .choices__inner
  padding: 7.5px 7.5px
  border: 1px solid #000
  border-radius: 5px
  position: relative
  z-index: 1
  // transition: all 0.3s ease
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    z-index: -1
    transition: all 0.3s ease
    background: $accent-grnt
    opacity: 0
    visibility: hidden

.sport-select .choices__list--single
  font-weight: 400
  font-size: 20px

.choices[data-type*=select-one]::after
  content: ''
  top: 45%
  width: 8px
  height: 8px
  border: 1px solid $black
  border-width: 0 0 1px 1px
  z-index: 1
  transform: rotate(-45deg)
  transition: all 0.3s ease

.choices[data-type*=select-one].is-open::after
  margin: 0
  border-color: $white
  transform: rotate(135deg)

.choices__placeholder
  opacity: 1

.choices__list--dropdown .choices__placeholder
  display: none

.sport-select .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item
  font-family: $deff
  font-weight: 400
  font-size: 16px

.sorting-select .choices
  font-family: $deff
  max-width: 280px

.sorting-select .choices__inner
  padding: 14.5px 30px 14.5px 27px !important
  color: $black
  font-weight: 700
  font-size: 20px
  white-space: nowrap

.sorting-select .choices__list--single
  padding: 0

.sorting-select .choices__inner
  border: 1px solid #000
  border-radius: 5px
  position: relative
  z-index: 1
  background: transparent
  // transition: all 0.3s ease
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    z-index: -1
    transition: all 0.3s ease
    background: $accent-grnt
    opacity: 0
    visibility: hidden

.sorting-select .choices.is-open .choices__inner
  color: $white
  border: none
  padding: 15.5px 31px 15.5px 28px !important
  &::after
    opacity: 1
    visibility: visible
