// Typography

*
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  list-style-type: none

a
  transition: all .3s ease
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none
    outline: none

img
  width: auto
  max-width: 100%
  height: auto

// Titles
h1, h2, h3, h4, h5, h6
	// font-family: inherit
	// line-height: 1.1
	// font-weight: 600
	// color: inherit

h1
  font-size: 36px
h2
  font-size: 30px
h3
  font-size: 24px
h4
  font-size: 18px
h5
  font-size: 14px
h6
  font-size: 12px

// Paragraphs
p
	// margin-bottom: 1em
	// color: inherit

a
  text-decoration: none

.title
  font-weight: 400
  font-size: 64px
  line-height: 130%
  color: $black
  +xxl
    font-size: 50px
  +lg
    font-size: 40px
  +md
    font-size: 30px
  +sm
    font-size: 25px
  +xsm
    font-size: 20px
  h1, h2, h3, h4, h5, h6
    font-weight: inherit
    font-size: inherit
    line-height: inherit
    margin-bottom: 0

.more-link
  display: inline-flex
  justify-content: center
  align-items: center
  column-gap: 20px
  font-weight: 700
  font-size: 20px
  color: $c3
  +lg
    font-size: 16px
  +md
    font-size: 15px
    column-gap: 10px
  +xsm
    font-size: 12px
  .icon--more-arrow
    width: 22px
    height: 11px
    fill: $c3
  &:hover
    color: lighten($c3, 15%)
    .icon--more-arrow
      color: lighten($c3, 15%)

.wrapper
  overflow: hidden
  max-width: 100%
  position: relative

.wrapper.main-bg
  background-image: url(../assets/images/bg/main-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.sport-bg
  background-image: url(../assets/images/bg/sport-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.movie-bg
  background-image: url(../assets/images/bg/movie-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.music-bg
  background-image: url(../assets/images/bg/music-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.fashion-bg
  background-image: url(../assets/images/bg/fashion-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.profile-bg
  background-image: url(../assets/images/bg/profile-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.basketball-bg
  background-image: url(../assets/images/bg/basketball-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.cricket-bg
  background-image: url(../assets/images/bg/cricket-bg.png)
  background-size: cover
  background-repeat: no-repeat

.wrapper.volleyball-bg
  background-image: url(../assets/images/bg/volleyball-bg.png)
  background-size: cover
  background-repeat: no-repeat
