.card-news
  padding-top: 143px
  padding-bottom: 72px

    /* .card-news__title */

  &__title
    font-weight: 400
    font-size: 64px
    line-height: 130%
    color: $black
    margin-bottom: 94px
    +xl
      font-size: 48px
    +lg
      font-size: 34px
    +md
      font-size: 24px
    +sm
      font-size: 20px

  /* .card-news__content */

  &__content
    display: flex
    flex-direction: column
    row-gap: 40px

  /* .card-news__col */

  &__col
    display: flex
    justify-content: space-between
    +md
      flex-direction: column

  /* .card-news__info */

  &__info
    display: flex
    flex-direction: column
    span
      display: inline-block
    span:nth-child(odd)
      font-weight: 400
      font-size: 18px
      line-height: 120%
      margin-bottom: 5px
    span:nth-child(even)
      font-weight: 400
      font-size: 14px
      line-height: 120%
      margin-bottom: 30px

  /* .card-news__text */

  &__text
    display: flex
    column-gap: 20px
    +sm
      flex-direction: column
    p
      font-weight: 400
      font-size: 18px
      line-height: 120%
      max-width: 390px

  /* .card-news__descr */

  &__descr
    max-width: 328px
    align-self: flex-end
    p
      font-weight: 400
      font-size: 18px
      line-height: 120%
      color: $black

  /* .card-news__img */

  &__img
    border-radius: 15px
    max-width: 795px
    max-height: 460px
    img
      width: 100%
      height: 100%
      border-radius: 15px
