.interesting
  padding-bottom: 150px

  &__content

  &__img
    transform: translateX(47%)

  &__body

  &__title
    font-weight: 400
    font-size: 64px
    line-height: 130%
    color: $black
    margin-bottom: 74px

.video
  background: url("../assets/images/blocks/video-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 675px
  border-radius: 15px
  position: relative
  display: flex
  justify-content: center
  align-items: center

  &__link
    display: flex
    justify-content: center
    align-items: center
    width: 162px
    height: 162px
    border-radius: 50%
    border: 1px solid $white
    position: relative

    .icon--video-play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 33px
      height: 38px
      fill: $white
