.shop

  &__content

  &-slider

  &-slider__img
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    height: 312px
    +xl
      height: 275px

  &-slider-wrapper

  &-slider-slide
    // max-width: 383px

  &-slider-box
    background: $white
    border-radius: 10px
    margin-bottom: 20px

  &-slider-name
    display: block
    font-weight: 700
    font-size: 20px
    line-height: 130%
    color: $black
    margin-bottom: 5px
    +xl
      font-size: 18px

  &-slider-price
    display: block
    font-weight: 400
    font-size: 20px
    line-height: 130%
    color: $black
    +xl
      font-size: 18px

.buy
  display: flex
  align-items: center
  justify-content: center

  position: relative
  z-index: 1

  font-weight: 700
  font-size: 20px

  width: 100%

  border: 1px solid $black
  border-width: 1px 0 0 0
  border-radius: 0 0 10px 10px

  background: transparent
  color: $black

  transition: all 0.3s ease
  padding: 14.5px 30px
  +xl
    padding: 10px 30px
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 100%
    transform: translate(-50%, -50%)
    background: $accent-grnt
    transition: all 0.3s ease
    border-radius: 0 0 10px 10px
    z-index: -1
    opacity: 0
    visibility: hidden
  &:hover
    color: $white
    border-color: transparent
    &::after
      opacity: 1
      visibility: visible
