.style

  &__title

  &__content
    display: flex
    column-gap: 23px
    max-height: 527px

  &__item
    border-radius: 15px
    max-width: 383px
    background: $white
    padding: 24px 0 0
    user-select: none

.clothing

  .swiper-slide
    // max-height: 444px
    img
      width: 100%
      height: 100%
      object-fit: contain

  &-navigation
    display: flex

.style-slider

  .swiper

    &-wrapper

    &-slide

    &-button-prev

    &-button-next

.accessories

.star-styles
