.propose-screen
  padding-top: 65px
  padding-bottom: 50px

  &__content

  &__header
    display: flex
    flex-wrap: wrap
    column-gap: 18px

  &__title

  &__text
    max-width: 710px
    p
      font-weight: 400
      font-size: 33px
      line-height: 120%

  &__img
