.top-users
  background: linear-gradient(118deg, #E7D8FF 0%, #CED3FF 100%)
  border-top: 1px solid #BCBCBC
  border-bottom: 1px solid #BCBCBC
  padding: 47px 0 47px
  margin-top: 46px
  +lg
    margin-top: 20px
  +sm
    padding: 25px 0 25px
    margin-top: 0

  &__content
    position: relative

  &__title
    font-weight: 400
    font-size: 33px
    line-height: 120%
    text-align: center
    color: $black
    margin-top: 36px
    margin-bottom: 0
    +lg
      font-size: 26px
    +md
      font-size: 19px
    +sm
      font-size: 13px
      margin-top: 20px

.top-slider
  max-width: 1010px
  margin: 0 auto
  +xxl
    max-width: 900px
  +xl
    max-width: 760px
  +lg
    max-width: 520px
  +md
    max-width: 345px
  +sm
    max-width: 195px
  +xsm
    max-width: 175px

  &__slide
    height: 87.53px
    border-radius: 50%
    user-select: none
    +xxl
      height: 75px
    +sm
      height: 55px
    +xsm
      height: 48px
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 50%
