.footer
  padding: 110px 0 225px
  background: $black
  .logo .icon--logo
    fill: $white

  &__content
    display: flex
    justify-content: space-between

  &__box
    display: flex
    flex-direction: column
    align-items: flex-start

  &__box:nth-child(1)

    .footer__link
      font-weight: 400
      font-size: 20px
      line-height: 36px
      margin-bottom: 6px
      color: $white
      &:hover
        color: darken($white, 25%)

  &__box:nth-child(2)

    .footer__link:first-child
      font-weight: 500
      font-size: 18px
      line-height: 20px
      color: $white
      margin-bottom: 42px
      &:hover
        color: darken($white, 25%)

    .footer__link:not(:first-child)
      font-weight: 400
      font-size: 16px
      line-height: 20px
      color: $white
      margin-bottom: 37px
      &:hover
        color: darken($white, 25%)

  &__box:nth-child(3)

    .footer__link:first-child
      font-weight: 500
      font-size: 18px
      line-height: 20px
      color: $white
      margin-bottom: 45px
      &:hover
        color: darken($white, 25%)

    .footer__link:not(:first-child)
      font-weight: 400
      font-size: 16px
      line-height: 20px
      color: $white
      margin-bottom: 33px
      &:hover
        color: darken($white, 25%)
