.header
  padding: 78px 0 61px

  .logo
    display: inline-block
    width: 243px
    height: 73px

    .icon--logo
      fill: $black

  &__content
    display: flex
    justify-content: space-between

  &__actions
    display: flex
    align-items: center

  &__search
    margin-right: 14px

    .icon--search
      width: 24px
      height: 24px

  &__notice
    margin-right: 26px

    .icon--notice
      width: 22px
      height: 24px

  &__profile
    display: flex
    align-items: center

    .icon--arrow
      width: 15px
      height: 10px

  &__profile-img
    width: 38px
    height: 38px
    border-radius: 50%
    margin-right: 15px
    img
      width: 100%
      height: 100%

  &__profile-name
    font-weight: 400
    font-size: 20px
    line-height: 130%
    color: $black
    margin-right: 15px
